:root {
  --dark-font: #4c4c4c;
  --light-font: white;
  --btn: #fc3468;
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;

  font: 500 100% system-ui, sans-serif;
}
.page-wrap {
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
  grid-template-rows: min-content min-content 1fr min-content;

  > * {
    padding: 0.5rem;
    text-align: center;
  }

  @media (max-width: 600px) {
    grid-template-columns: 100%;
    > * {
      grid-column: 1 / -1 !important;
    }
  }
}
//HEADER
.page-header {
  grid-column: 1 / -1;
  color: var(--dark-font)
}
//SIDEBAR
.page-sidebar {
  grid-column: 1 / -1;
  background: #e1bee7;
}
//NAV
.page-nav {
  grid-column: 1 / -1;
  background: #bbdefb;
}
//MAIN
.page-main {
  grid-column: 1 / -1;
  background: #dcedc8;
}
//FOOTER
.page-footer {
  grid-column: 1 / -1;
  background: #ffecb3;
}
